.HomePageContent--Experience_section{
    padding-top: 200px;
    padding-bottom: 800px;
    background-size: cover;
    background-position: bottom;
    text-align: center;
}
.HomePageContent--Experience_btn {
    margin: auto;
    margin-bottom: 800px;
}
.HomePageContent--Experience_firstline, .HomePageContent--Experience_secondline {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 100px;
    line-height: 100px;
}
.HomePageContent--Experience_firstline {
    color: var(--orange-color);
}
.HomePageContent--Experience_secondline {
    color: white;
}
.HomePageContent--Experience_thirdline {
    color: var(--orange-color);
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}
.HomePageContent--Experience_paragraph {
    font-size: 30px;
    color: white;
    padding: 0 7%;
    margin-bottom: 60px;
}
.HomePageContent--Experience--second_title {
    font-size: 80px;
    line-height: 80px;
    font-weight: 600;
    color: var(--dark-blue-color);
    text-align: left;
}
.HomePageContent--Experience--second_subtitle {
    text-align: left;
    color: var(--orange-color);
    font-size: 35px;
    font-weight: 600;
    margin: 10px 0;
}
.HomePageContent--Experience--second_paragraph {
    text-align: left;
    font-weight: bold;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 30px;
}
.HomePageContent--Experience_btn2, .HomePageContent--fiji_btn2 {
    margin-left: 15px;
    background: var(--dark-blue-color);
    color: var(--orange-color);
}
.HomePageContent--Experience_btn2:hover, .HomePageContent--fiji_btn2:hover {
    background: var(--orange-color);
    color: var(--dark-blue-color);
}


.HomePageContent--fiji_section {
    align-items: center;
    padding: 200px 0;
}
.HomePageContent--fiji--left_container, .HomePageContent--fiji--right_container {
    width: 50%;
}
.HomePageContent--fiji--left_container {
    padding: 0 9.2%;
}
.HomePageContent--fiji--title {
    font-size: 70px;
    line-height: 70px;
    font-weight: 600;
    color: var(--dark-blue-color);
}
.HomePageContent--fiji--subtitle {
    font-size: 35px;
    line-height: 35px;
    font-weight: 600;
    margin: 20px 0;
    color: var(--orange-color);
}
.HomePageContent--fiji--paragraph {
    font-size: 25px;
    line-height: 30px;
    color: var(--dark-blue-color);
    font-weight: 600;
}
.HomePageContent--fiji-btn_group {
    margin-top: 50px;
}

.HomePageContent--fiji--right_container img{
    width: 100%
}

@media screen and (max-width: 1400px) {
    .HomePageContent--fiji_section {
        flex-direction: column;
    }
    .HomePageContent--fiji--left_container {
        width: 100%;
    }
    .HomePageContent--fiji--right_container {
        display: none;
    }

    .HomePageContent--fiji--title {
        font-size: 50px;
        line-height: 50px;
    }
    .HomePageContent--fiji--subtitle {
        font-size: 25px;
        line-height: 25px;
    }
    .HomePageContent--fiji--paragraph {
        font-size: 18px;
    }
}


@media screen and (max-width: 1200px) {
    .HomePageContent--Experience_firstline, .HomePageContent--Experience_secondline, .HomePageContent--Experience--second_title {
        font-size: 55px;
        line-height: 55px;
    }
    .HomePageContent--Experience_thirdline, .HomePageContent--Experience--second_subtitle {
        font-size: 35px;
        line-height: 45px;
    }
    .HomePageContent--Experience_paragraph, .HomePageContent--Experience--second_paragraph {
        font-size: 25px;
        line-height: 35px;
    }
    .HomePageContent--Experience_btn {
        margin-bottom: 400px;
    }
}

@media screen and (max-width: 970px)  {
    .HomePageContent--Experience_section {
        padding-bottom: 400px;
    }
    .HomePageContent--Experience--second_title,
    .HomePageContent--Experience--second_subtitle,
    .HomePageContent--Experience--second_paragraph {
        text-align: center;
    }
    .HomePageContent--Experience-btn_group {
        justify-content: center;
    }

}
@media screen and (max-width: 500px) {
    .HomePageContent--Experience_firstline, .HomePageContent--Experience_secondline, .HomePageContent--Experience--second_title {
        font-size: 35px;
        line-height: 35px;
    }
    .HomePageContent--Experience_thirdline, .HomePageContent--Experience--second_subtitle {
        font-size: 25px;
        line-height: 45px;
    }
    .HomePageContent--Experience_paragraph, .HomePageContent--Experience--second_paragraph {
        font-size: 20px;
        line-height: 35px;
    }
}