.NavBar {
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    padding-top: 20px;
    position: absolute;
    top: 0;
    width: 100%;
}
.NavBar .NavBar--logo{
    width: 17%;
}
.NavBar .NavBar--logo img {
    width: 100%;
}

.NavBar .NavBar--menu {
    color: white;
    text-transform: uppercase;
    align-items: center;
}
.NavBar .NavBar--menu .NavBar--menu--item {
    margin-left: 45px;
    font-size: 23px;
    font-weight: bold;
}
.NavBar .NavBar--menu .NavBar--menu--item:nth-child(1){
    margin-left: 0;
}
.NavBar .NavBar--menu .NavBar--menu--book_now {

}
.NavBar--burger_menu {
    display: none;
}
.NavBar--burger_menu svg{
    stroke: white!important;
    fill: white!important;
}




@media screen and (max-width:1124px) {
    .NavBar .NavBar--menu .NavBar--menu--item {
        margin-left: 25px;
        font-size: 15px;
    }
    .NavBar .NavBar--menu .NavBar--menu--book_now {
        padding: 10px 15px;
    }
}

@media screen and (max-width:750px) {
    .NavBar .NavBar--menu{
        display: none;
    }
    .NavBar--burger_menu {
        display: block;
    }
    .NavBar .NavBar--logo {
        width: 30%;
    }


}