.grid-container {
    padding: 0 9.2%;
}
.flex {
    display: flex;
}
.btn {
    background: var(--orange-color);
    color: var(--dark-blue-color);
    width: fit-content;
    padding: 15px 25px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
}
.btn:hover {
    background: var(--dark-blue-color);
    color: var(--orange-color);
    cursor: pointer;
}
.white-text {
    color: white;
}
.long_btn {
    font-size: 25px;
    background: var(--orange-color);
    color: var(--dark-blue-color);
    width: fit-content;
    padding: 10px 25px;
    text-transform: uppercase;
    font-weight: 600;
}
.long_btn:hover {
    background: var(--dark-blue-color);
    color: var(--orange-color);
    cursor: pointer;
}
.uppercase {
    text-transform: uppercase;
}
.box-right-side {
    padding-left: 45%;
}

@media screen and (max-width: 970px)  {
    .box-right-side {
        padding-left: 0;
    }
    .btn {
        font-size: 20px;
    }
    .long_btn {
        font-size: 20px;
    }
}
@media screen and (max-width: 570px){
    .grid-container {
        padding: 0 5%;
    }
}