:root {
    --orange-color: #fdb414;
    --dark-blue-color: #12284a;
}
body {
    background: cornflowerblue!important;
    margin: 0;
    padding: 0;
    font-family: Brandon Grotesque, sans-serif;

}
* {
    box-sizing: border-box;
}
@font-face {
    font-family: Brandon Grotesque;
    font-weight: bold;
    src: url('media/font/Brandon_bld.otf');
}

@font-face {
    font-family: Brandon Grotesque;
    font-weight: medium;
    src: url('media/font/Brandon_med.otf');
}
@font-face {
    font-family: Brandon Grotesque;
    src: url('media/font/Brandon_reg.otf');
}
