.Banner {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    z-index: -1;
    letter-spacing: 10px;
}
.Banner--text {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    filter: none;
    font-weight: 600;
}
.Banner--text--first_line {
    font-size: 100px;
    line-height: 100px;
    color: white;
}
.Banner--text--second_line {
    line-height: 100px;
    font-size: 100px;
    color: var(--orange-color);
    font-weight: bold;
}
.Banner--text--third_line {
    line-height: 55px;
    font-size: 55px;
    color: white;
    font-weight: 300;
}

.down_arrow {
    position: absolute;
    bottom: 20px;
    text-align: center;
    left:0;
    right:0;
}
.down_arrow img {
    width: 75px;
}

@media screen and (max-width: 1024px) {
    .Banner--text--first_line {
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .Banner--text--second_line {
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .Banner--text--third_line {
        font-size: 35px;
        line-height: 35px;
    }
    .down_arrow img {
        width: 45px;
    }
}

@media screen and (max-width: 600px) {
    .Banner--text--first_line {
        font-size: 35px;
        line-height: 35px;
        margin-bottom: 10px;
    }
    .Banner--text--second_line {
        font-size: 35px;
        line-height: 35px;
        margin-bottom: 10px;
    }
    .Banner--text--third_line {
        font-size: 20px;
        line-height: 20px;
    }
    .down_arrow img {
        width: 35px;
    }
}